.add__things {
  padding-bottom: 5px;

  input, select {
    padding: 5px;
    margin: 5px;
  }
  textarea {
    padding: 5px;
    margin: 5px;
    width: 60%;
    height: 300px;
  }
  button {
    margin-top: 10px;
    padding: 5px;
  }
  label {
    font-style: italic;
    color: #36526f;
  }
}
.add__things__form {
  width: 95%;
  margin: 0 auto;
  background-color: rgba(230, 230, 230, 0.75);
  min-height: 700px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 0 5px blue;

  h4 {
    padding: 10px;
  }
}
.add__things__form-name-thing {
  display: block;
  margin: 10px;
  color: red;
}
.add__things__common-text {
  margin-top: 10px;
}
.add_things-title {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 100px;
  left: 0;
}
.add__things__menu {
  display: block;
  width: 95%;
  list-style: none;
  margin: 0 auto;
  margin-top: 10px;

  li {
    display: inline-block;
    padding: 10px;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 5px blue;
  }
  a {
    text-decoration: none;
  }
}
.add__things__common-form-title {
  width: 60%;
}
.add__things__common-form-ea {
  width: 5%;
}
.add__things__add-packages {
  width: 40%;
}
.add__things__add-property,
.add__things__add-value {
  width: 30%;
}
.for_image {
  width: 50px;
}
.add__things__meta-title,
.add__things__meta-keywords {
  width: 60%;
}
.add__things__image-sortable {
  list-style-type: none;

  li {
    float: left;
    margin-left: 5px;
  }
}
