.add__things {
  position: relative;
}
.add__things__form {
  width: 95%;
  margin: 0 auto;
  background-color: white;
  min-height: 700px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 0 5px blue;
}
.add_things-title {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 100px;
  left: 0;
}
.add__things__menu {
  display: block;
  width: 95%;
  list-style: none;
  margin: 0 auto;
  margin-top: 10px;

  li {
    display: inline-block;
    padding: 10px;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 5px blue;
  }
  a {
    text-decoration: none;
  }
}
