.add__things {
  padding-bottom: 5px;

  input, select {
    padding: 5px;
    margin: 5px;
  }
  textarea {
    padding: 5px;
    margin: 5px;
    width: 60%;
    height: 300px;
  }
  button {
    margin-top: 10px;
    padding: 5px;
  }
  label {
    font-style: italic;
    color: #36526f;
  }
}
.add__things__form {
  width: 95%;
  margin: 0 auto;
  background-color: rgba(230, 230, 230, 0.75);
  min-height: 700px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 0 5px blue;
  overflow: hidden;

  h4 {
    padding: 10px;
  }
}
.add__things__form-name-thing {
  display: block;
  margin: 10px;
  color: red;
}
.add__things__common-text {
  margin-top: 10px;
}
.add_things-title {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 100px;
  left: 0;
}
.add__things__menu {
  display: block;
  width: 95%;
  list-style: none;
  margin: 0 auto;
  margin-top: 10px;

  li {
    display: inline-block;
    padding: 10px;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 5px blue;
  }
  a {
    text-decoration: none;
  }
}
.add__things__common-form-title {
  width: 60%;
}
.add__things__common-form-ea {
  width: 5%;
}
.add__things__add-packages {
  width: 40%;
}
.add__things__add-property,
.add__things__add-value {
  width: 30%;
}
.for_image {
  width: 50px;
}
.add__things__meta-title,
.add__things__meta-keywords {
  width: 60%;
}
.add__things__image-sortable {
  list-style-type: none;

  li {
    float: left;
    margin-left: 5px;
  }
}
.add__things__add__own-condition {
  position: relative;

  div {
    position: absolute;
    top: 8px;
    left: 630px;
  }
}
.add__things__same-modal-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.add__things__same-modal-window {
  position: absolute;
  left: 25%;
  top: 5%;
  width: 60%;
  height: 530px;
  background-color: #cccccc;
  z-index: 100;

  thead {
    text-align: center;
  }

  button {
    margin-left: 10px;
  }

  .things__table-cost span {
    display: block;
    margin-top: 25px;
  }
}
.add__things__same-modal-window-category {
  position: relative;
}
.add__things__same-modal-window-items {
  overflow: auto;
  height: 450px;
  padding: 5px;

  tr {
    width: 100px;
  }
  input {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 15px;
  }
}
.modal-close {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.add__things__same-list {
  padding: 5px;
}
