.category__control {
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 5px;
  position: relative;
}
.category__control__sort {
  width: 350px;
  height: 70px;
  border: 1px solid green;
  position: absolute;
  top: 0;
  left: 0;
}
.category__control__sort-select {
  display: block;
  width: 90%;
  margin: 10px;
  height: 30px;
}
.category__control__info {
  height: 70px;
  border: 1px solid green;
  overflow: hidden;
}
.category {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgba(188, 208, 228, 0.8);
  padding: 5px;
  box-shadow: 1px 1px 10px blue;
}
.category__table {
  border: 1px solid #88a3bd;
  border-collapse: collapse;
  width: 100%;
  tr, td {
    border: 1px solid #88a3bd;
  }
  thead {
    text-align: center;
    background-color: #fff;

    td {
      padding: 5px;
    }
  }
}
.category__table-title {
  width: 55%;
  padding: 5px;

  h6 {
    color: blue;
  }
}
.category__table-amount {
  width: 15%;
  padding: 10px;
}
.category__table-status {
  width: 15%;
  padding: 10px;
  text-align: center;
}
.category__table-select {
  width: 10%;
}
.category-pages {
  display: block;
  width: 100%;
  margin: 10px;

  li {
    display: inline-block;
    padding: 10px;
    background-color: #73728c;
    margin-left: 5px;
  }
  a {
    color: #cac8e5;
    font-weight: bold;
    text-decoration: none;
  }
}
