@import 'variables';
@import 'fonts';
@import 'delivery';

body {
  font-family: "helveticaneuecyrlight", Tahoma;
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  height: 50px;
  background-color: $bcHeader;
}
.wrapper {
  position: relative;
  overflow: hidden;
}
aside {
  min-height: 750px;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  background-color: $bcAside;
  float: left;
}
@import 'menu';
main {
  min-height: 750px;
  margin-left: 250px;;
  // background-color: $bcMain;
  // float: right;
  overflow: hidden;
}
@import 'all_things';
@import 'add_things';
@import 'all_category';
@import 'add_category';
@import 'contacts';
@import 'basket';
footer {
  clear: both;
  width: 100%;
  height: 50px;
  background-color: $bcFooter;
}
